# export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_251.jdk/Contents/Home
# export PATH=$JAVA_HOME/bin:$PATH
version: ~> 1.0
language: java
jdk: oraclejdk9
install: true
script: mvn clean test
cache:
  directories:
  - $HOME/.m2
