# export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_251.jdk/Contents/Home
# export PATH=$JAVA_HOME/bin:$PATH
version: ~> 1.0
language: java
jdk: openjdk8
install: true
cache:
  directories:
  - $HOME/.m2
before_script: cd $TRAVIS_BUILD_DIR/SpiringBoot-ReferenceArchitecture
script: 
  - mvn clean test
